<div
  class="flex flex-col justify-center items-center m-auto mt-10 border border-violet-700 p-2 rounded-lg select-none w-2xl"
>
  <h1 class="text-2xl text-white uppercase tracking-widest font-semibold">
    Register
  </h1>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div
      class="grid grid-cols-2 space-x-3 space-y-1.5 justify-center items-center mt-3"
    >
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >first Name</label
        >
        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your name"
          formControlName="firstName"
        />
        <p
          *ngIf="fields['firstName'].touched && fields['firstName'].invalid"
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['firstName'].errors?.['required']"
            >first name is required</span
          >
          <span *ngIf="fields['firstName'].errors?.['minlength']"
            >minimum 2 letter required</span
          >
        </p>
      </div>
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >last name</label
        >
        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your last name"
          formControlName="lastName"
        />
        <p
          *ngIf="fields['lastName'].touched && fields['lastName'].invalid"
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['lastName'].errors?.['required']"
            >last name is required</span
          >
          <span *ngIf="fields['lastName'].errors?.['minlength']"
            >minimum 1 letter required</span
          >
          <span *ngIf="fields['lastName'].errors?.['maxlength']"
            >maximum 3 letter required</span
          >
        </p>
      </div>
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >work email</label
        >

        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your last name"
          formControlName="workingEmail"
        />
        <p
          *ngIf="
            fields['workingEmail'].touched && fields['workingEmail'].invalid
          "
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['workingEmail'].errors?.['required']"
            >email is required</span
          >
          <span *ngIf="fields['workingEmail'].errors?.['email']"
            >enter a valid email</span
          >
        </p>
      </div>
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >number</label
        >

        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your last name"
          formControlName="number"
        />
        <p
          *ngIf="fields['number'].touched && fields['number'].invalid"
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['number'].errors?.['required']"
            >number is reuired</span
          >
          <span *ngIf="fields['number'].errors?.['pattern']"
            >number should be 10 digit</span
          >
        </p>
      </div>
    </div>

    <div class="flex flex-col items-start space-y-1.5 my-2">
      <input
        type="text"
        class="w-full p-2 outline-none border border-violet-700 text-gray-400 rounded-lg"
        placeholder="Enter your age"
        formControlName="age"
      />
      <p
        *ngIf="fields['age'].touched && fields['age'].invalid"
        class="text-red-500 text-sm font-semibold"
      >
        <span *ngIf="fields['age'].errors?.['required']">age is required</span>
      </p>
    </div>

    <!-- gender -->

    <div class="mt-2 flex flex-col space-y-1.5">
      <div class="flex justify-between items-start">
        <h2
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
        >
          gender
        </h2>
        <div class="flex justify-center items-center space-x-2">
          <label
            class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
            >male</label
          >
          <input type="radio" />
        </div>
        <div class="flex justify-center items-center space-x-2">
          <label
            class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
            >female</label
          >
          <input type="radio" />
        </div>
        <div class="flex justify-center items-center space-x-2">
          <label
            class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
            >prefer not to say</label
          >
          <input type="radio" />
        </div>
      </div>
      <p class="text-sm font-semibold text-red-500">
        gender is required please select
      </p>
    </div>

    <div
      class="grid grid-cols-2 space-x-3 justify-center items-center mt-3 space-y-1.5"
    >
      <!-- //name -->
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >password</label
        >
        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your name"
        />
        <p class="text-red-500 text-sm font-semibold">error</p>
      </div>
      <!-- lastName -->
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >confirm password</label
        >

        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your last name"
        />
        <p class="text-red-500 text-sm font-semibold">error</p>
      </div>
    </div>

    <div class="flex justify-center items-center my-4">
      <button
        class="uppercase text-white tracking-widest font-semibold bg-violet-700 px-4 py-1 rounded-lg cursor-pointer"
      >
        save
      </button>
    </div>
  </form>

  <p class="text-gray-400">Already have an accound ? Login</p>
</div>
