<div
  class="flex flex-col justify-center items-center m-auto mt-10 border border-violet-700 p-2 rounded-lg select-none w-2xl"
>
  <h1 class="text-2xl text-white uppercase tracking-widest font-semibold">
    Register
  </h1>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div
      class="grid grid-cols-2 space-x-3 space-y-1.5 justify-center items-center mt-3"
    >
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >first Name</label
        >
        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your name"
          formControlName="firstName"
        />
        <p
          *ngIf="fields['firstName'].touched && fields['firstName'].invalid"
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['firstName'].errors?.['required']"
            >first name is required</span
          >
          <span *ngIf="fields['firstName'].errors?.['minlength']"
            >minimum 2 letter required</span
          >
        </p>
      </div>
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >last name</label
        >
        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your last name"
          formControlName="lastName"
        />
        <p
          *ngIf="fields['lastName'].touched && fields['lastName'].invalid"
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['lastName'].errors?.['required']"
            >last name is required</span
          >
          <span *ngIf="fields['lastName'].errors?.['minlength']"
            >minimum 1 letter required</span
          >
          <span *ngIf="fields['lastName'].errors?.['maxlength']"
            >maximum 3 letter required</span
          >
        </p>
      </div>
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >work email</label
        >

        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your last name"
          formControlName="workingEmail"
        />
        <p
          *ngIf="
            fields['workingEmail'].touched && fields['workingEmail'].invalid
          "
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['workingEmail'].errors?.['required']"
            >email is required</span
          >
          <span *ngIf="fields['workingEmail'].errors?.['email']"
            >enter a valid email</span
          >
        </p>
      </div>
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >number</label
        >

        <input
          type="text"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your last name"
          formControlName="number"
        />
        <p
          *ngIf="fields['number'].touched && fields['number'].invalid"
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['number'].errors?.['required']"
            >number is reuired</span
          >
          <span *ngIf="fields['number'].errors?.['pattern']"
            >number should be 10 digit</span
          >
        </p>
      </div>
    </div>

    <div class="flex flex-col items-start space-y-1.5 my-2">
      <input
        type="text"
        class="w-full p-2 outline-none border border-violet-700 text-gray-400 rounded-lg"
        placeholder="Enter your age"
        formControlName="age"
      />
      <p
        *ngIf="fields['age'].touched && fields['age'].invalid"
        class="text-red-500 text-sm font-semibold"
      >
        <span *ngIf="fields['age'].errors?.['required']">age is required</span>
        <span
          *ngIf="fields['age'].errors?.['min'] || fields['age'].errors?.['max'] "
          >age should be between 15 and 25</span
        >
      </p>
    </div>

    <div class="mt-2 flex flex-col space-y-1.5">
      <div class="flex justify-between items-start">
        <h2
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
        >
          gender
        </h2>
        <div class="flex justify-center items-center space-x-2">
          <label
            class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
            >male</label
          >
          <input type="radio" formControlName="gender" value="male" />
        </div>
        <div class="flex justify-center items-center space-x-2">
          <label
            class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
            >female</label
          >
          <input type="radio" formControlName="gender" value="female" />
        </div>
        <div class="flex justify-center items-center space-x-2">
          <label
            class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
            >prefer not to say</label
          >
          <input type="radio" formControlName="gender" value="prefernotsay" />
        </div>
      </div>
      <p
        *ngIf="fields['gender'].touched && fields['gender'].invalid"
        class="text-sm font-semibold text-red-500"
      >
        <span *ngIf="fields['gender'].errors?.['required']"
          >please select your gender</span
        >
      </p>
    </div>

    <div
      class="grid grid-cols-2 space-x-3 justify-center items-center mt-3 space-y-1.5"
    >
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >password</label
        >
        <input
          type="password"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your name"
          formControlName="password"
        />
        <p
          *ngIf="fields['password'].touched && fields['password'].invalid"
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['password'].errors?.['required']"
            >password is requried</span
          >
          <span *ngIf="fields['password'].errors?.['minlength']"
            >minimum 6 charecter required</span
          >
        </p>
      </div>
      <div class="flex flex-col justify-center items-start space-y-1.5">
        <label
          class="text-gray-400 uppercase text-sm tracking-widest font-semibold"
          >confirm password</label
        >

        <input
          type="password"
          class="border outline-none border-violet-700 p-2 rounded-lg text-gray-400"
          placeholder="Enter your last name"
          formControlName="confirmPassword"
        />
        <p
          *ngIf="
            fields['confirmPassword'].touched &&
            fields['confirmPassword'].invalid
          "
          class="text-red-500 text-sm font-semibold"
        >
          <span *ngIf="fields['confirmPassword'].errors?.['required']"
            >confirm password is required</span
          >
        </p>
        <p *ngIf="showpassworderror()"class="text-sm font-bold text-red-500">password must be same</p>
      </div>
    </div>

    <div class="flex justify-center items-center my-4">
      <app-button type="submit" label="Register" [disabled]="form.invalid"></app-button>
    </div>
  </form>

  <p class="text-gray-400 text-sm font-semibold">Already have an accound ? 
    <a routerLink="/login" class="text-violet-500 hover:underline cursor-pointer">Login</a>
  </p>
</div>
