<div
  class="select-none flex flex-col justify-center items-center m-auto mt-10 w-96 border border-violet-700 p-2 rounded-lg"
>
  <h1 class="uppercase text-2xl font-semibold text-white tracking-widest">
    Login
  </h1>
  <form (ngSubmit)="handleSubmit()" class="space-y-2" [formGroup]="form">
    <div class="flex flex-col space-y-1.5">
      <label
        class="uppercase text-gray-400 font-semibold text-sm tracking-widest"
        >email</label
      >
      <input
        type="text"
        placeholder="Enter email"
        class="p-2 outline-none border border-violet-700 rounded-lg text-gray-400"
        formControlName="email"
      />
      <p *ngIf="field['email'].touched && field['email'].invalid" class="font-semibold text-red-500 text-sm">email is required</p>
    </div>
    <div class="flex flex-col space-y-1.5">
      <label
        class="uppercase text-gray-400 font-semibold text-sm tracking-widest"
        >password</label
      >
      <input
        type="text"
        placeholder="Enter email"
        class="p-2 outline-none border border-violet-700 rounded-lg text-gray-400"
        formControlName="password"
      />
      <p *ngIf="field['password'].touched && field['password'].invalid" class="font-semibold text-red-500 text-sm">password is required</p>
    </div>

    <div class="flex justify-center items-center my-3">
      <button
        class="tracking-widest uppercase px-4 text-white py-1 bg-violet-700 rounded-lg cursor-pointer"
      >
        login
      </button>
    </div>
  </form>

  <p class="text-gray-400 text-sm font-semibold">Don't you have an accound ? 
    <a routerLink="/register" class="text-violet-500 cursor-pointer hover:underline" >Register</a>
  </p>
</div>
